<html>
  <body>
    <h1>Register</h1>
    <form action="/register" method="post">
      <hr />
      <em>Name: </em
      ><input type="text" name="username" placeholder="username" />
      <hr />
      <em>Password: </em
      ><input type="password" name="password" placeholder="password" />
      <hr />
      <em>Repeat password: </em
      ><input type="password" name="password2" placeholder="password" />
      <hr />
      <input type="submit" value="Register" />
    </form>
    <hr />
    <a href="/login">To login click here</a>
  </body>
</html>
